.juego{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fila div{
        display: flex; /* esto arreglo que se movieran los botones al tocarlo, sacalo y fijate si no me crees*/
}

button{
    width: 5rem;
    height: 5rem;
}

.fila{
    display: flex;
    flex-direction: column;
}